* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-image: url("../Photos/library.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 20px;
  color: yellow;
  background-color: black;
  border-radius: 8px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
}

#contactForm {
  max-width: 500px;
  margin: 0 auto;
  background: black;
  color: yellow;
  padding: 30px;
  border-radius: 8px;
}

#contactForm label {
  display: block;
  margin: 10px 5px;
  font-weight: bold;
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

button:hover {
  background-color: white;
}

#responseMessage {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}