body{
    height: 100vh;
    padding: 0%;
    margin: 0%;
    background-image: url(library.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;

}
.navbar{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.logo a{
    text-decoration: none;
    color: yellow;
    float: left;
    margin-left: 20px;
}
.logo a:hover{
    cursor: pointer;
    color: white;
}

/* list design */

.menu{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    gap: 75px;
}
.menu li{
list-style: none;

}
.menu li a{
    text-decoration: none;
    color: yellow;
    font-size: large;
}
.menu li a:hover{
    color: white;
}

/* search design */

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;   
}
.sr{
    width: 100%;
    padding: 4px;
    background: none;
    color: white;
}
.search button{
    background-color: yellow;
    color: black;
    padding: 5px 15px;
}
.search button:hover{
    background-color: white;
}

/* intro text */

.main{
display: flex;
padding: 40px 20px 0 100px;
}

.introtext h1{
    color: yellow;
    font-size: 40px;
}
.introtext p{
    color: white;
    font-size: 20px;
}

.login-signup{
    margin-top: 17px;
    margin-left: 20%;
    text-align: center;
}
.login-signup h2{
    color: yellow;
}

.button{
    background-color: yellow;
    padding: 10px 50px;
}
.button a{
   text-decoration: none;
   color: black;
}

.button:hover{
    background-color: white;
}

/* Best of 2024 */
.Best{
    margin-top: 150px;
}

.Best h2{
    clear: both;
    color: white;
    margin-left: 100px;  
}
.ul-item{
  list-style: none;
  display: flex; 
}

.book1{
    width: 150px;
    margin-left: 60px;
}
.item1 h2{
    margin-top: 0%;
}
.book2{
    width: 150px;
    margin-left: 30px;
}
.item2 h2{
   margin-top: 0%;
   margin-left: 35%;
}
.ul-item li{
    transition: all 0.2s ease-in-out; 
}
.ul-item .item:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* Subscription */

.subscriptions{
    margin-top: 200px;
}
.subscriptions h2{
    font-size: 40px;
    text-align: center;
    color: white;
}

.subscription-plan{
    display: flex;
    justify-content: center;
}
.subscription-plan .plan{
    width: 300px;
}

.standard{
    background-color: aqua;
}
.premium{
    background-color: gold;
}
.vip{
    background-color: rgb(234, 225, 225);
}

.plan{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.plan h3 {
    font-size: 24px;
}
.plan p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.plan ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.plan button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
}
.plan .button-standard{
    margin-top: 20px;
}
.plan button:hover {
    background-color: white;
}

/* bottom of website */

.mainbottom{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 250px;
}

/* copywrite */

.bottom-copywrite .copywrite{
    color: yellow;
    padding-top: 30%;
    padding-left: 50px;
    
}

/* bottom mavbar */

.bottom-navbar h3{
    color: white;
    padding: 25px 0 0 25px;
}
.bottom-navbar .ul-bottom1 a{
    list-style: none;
    text-decoration: none;
    color: yellow;
    padding-left: 15px;
}
.bottom-navbar .li-bottom1{
    padding-top: 10px;
}

/* social media */

.socialmedia h3{
    color: white;
    padding-top: 27px;
}

.socialmedia .ul-bottom2{
    padding-left: 0;
}

.socialmedia .ul-bottom2 a{
    list-style: none;
    text-decoration: none;
    color: yellow; 
    padding-right: 200px; 
}

.socialmedia .li-bottom2{
    padding-top: 10px;
}

/* responsable for mobile */

